a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;
}

.list-group-item.active {
    z-index: 2;
    background-color: rgb(51, 166, 183);
    border-color: #B73333;
}
.well {
    min-height: 2px;
    padding: 2px;
    margin-bottom: 2px;
}
